@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Karla:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap");

:root {
  font-family: "Karla", sans-serif;
  font-family: "Inconsolata", monospace;
  line-height: 1;
  color: #eaeaea;
  background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

nav {
  width: 100%;
  height: 48px;
  padding: 8px 0;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 12px 25px 8px #000000;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin: 0 1rem;
}

nav ul li a {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.1s ease-in-out;
}

nav ul li a:hover {
  color: #ffcc81;
}

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  min-height: 480px;
}

#hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  pointer-events: none;
  margin: 200px 3rem 150px 3rem;
}

.scroll-icon {
  position: absolute;
  bottom: 24px;
}

h1 {
  font-family: "Karla", sans-serif;
  font-size: 4rem;
  color: #ffcc81;
  padding: 0;
  margin: 0;
  line-height: 1;
}

h2 {
  font-family: "Karla", sans-serif;
  font-size: 3.2rem;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

h3 {
  font-family: "Karla", sans-serif;
  font-size: 2.8rem;
  color: #ffffff;
  margin: 0;
  line-height: 3rem;
}

h4 {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 6px;
  color: #ffcc81;
  padding: 0;
  margin: 1rem;
}

h5 {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  padding: 0;
  margin: 1rem;
}

#hero-card p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 1rem;
  color: #454545;
}

button {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: #f3b061;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.4rem;
  margin-top: 16px;
  cursor: pointer;
  pointer-events: initial;
}

button a {
  color: #ffffff;
  text-decoration: none;
}

.mailto {
  color: #000000;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.title-header {
  line-height: 1;
  margin: 64px 0 16px 0;
  max-width: 500px;
  padding: 0 1rem;
}

.items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
}

.card-wrapper {
  margin: 0.5rem;
}

.item-card-big {
  width: 492px;
  height: 480px;
  margin: 1rem 0 0 0;
  padding: 1rem;
  border-radius: 8px;
  background-color: #101010;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.item-card-big:hover {
  transform: scale(1.02);
}

.item-card-small {
  width: 492px;
  height: 240px;
  margin: 1rem 0 0 0;
  padding: 1rem;
  border-radius: 8px;
  background-color: #101010;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.item-card-small:hover {
  transform: scale(1.02);
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.btn-extern {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  width: 7.875rem;
  height: 2.5rem;
  margin: 0 8px;
  padding: 0;
  border-radius: 0.625rem;
  border: 1px solid #eaeaea;
  font-size: 1rem;
  font-weight: 300;
}

.btn-extern p {
  margin: 0 6px;
}

.card-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.card1 {
  background-image: url(./img/ugc-card.png);
}

.card2 {
  background-image: url(./img/yogism/yogism-card.png);
}

.card3 {
  background-image: url(./img/no21-card.png);
}

.card4 {
  background-image: url(./img/holohand-card.png);
}

h5 {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0;
  margin: 1rem;
}

.card-wrapper div p {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
}

/*hero gradient background*/

.blob {
  position: fixed;
  background: #483881;
  top: 50%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
}

.blobs {
  filter: url("#goo");
  position: absolute;
  left: calc(50vw - 250px);
  top: calc(50vh - 450px);
  width: 500px;
  height: 500px;
  background: transparent;
  border: 3px solid;
  border-color: transparent;
}

.one {
  left: 50%;
  filter: blur(17px);
}
.four {
  filter: blur(20px);
  position: fixed;
  background: #ffeaca !important;
  left: calc(var(--mouse-x) * 0.27px);
  top: calc(var(--mouse-y) * 0.27px);
  margin-left: 120px;
  margin-top: 120px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 5;
}

.vsfr {
  opacity: 1 !important;
}

.stars {
  position: fixed;
  background-image: url(./img/stars.png);
  background-size: 50%;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
  opacity: 0.1;
}

.fallingstarswrap {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
}

.fallingstar::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 0.5px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7),
    10%,
    transparent
  );
}

.fallingstar:nth-child(1) {
  position: absolute;
  left: -200px;
  top: 300px;
  width: 1px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  box-shadow: 0 0 100px rgb(255, 255, 255);
  animation: falling 16s linear infinite;
}

.fallingstar:nth-child(2) {
  position: absolute;
  left: -100px;
  top: 60px;
  width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  animation: falling 28s linear 5s infinite;
}

.fallingstar:nth-child(3) {
  position: absolute;
  left: 0px;
  top: -10px;
  width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  animation: falling 20s linear 10s infinite;
}

@keyframes falling {
  0% {
    transform: rotate(200deg) translateX(0);
  }
  20% {
    transform: rotate(200deg) translateX(-2500px);
  }
  100% {
    transform: rotate(200deg) translateX(-2500px);
  }
}

#services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  padding: 6rem 4rem;
  width: 100vw;
  max-width: 1200px;
}

.services-title {
  margin-right: 2rem;
}

#services > div {
  max-width: 480px;
}

.service-box {
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.service-card :nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.service-info {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin: 1rem 0;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem 2.2rem 1rem;
  margin: 0 0 6rem 0;
  width: 900px;
  background-color: #0b0b0b;
  border-radius: 12px;
  border: 1px solid #202020;
}

.contact-card p {
  margin: 1rem 0;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: auto;
  padding: 3rem 0;
  width: 100vw;
  background-color: #0b0b0b;
}

.about {
  display: inline-flex;
  gap: 6%;
  margin: 12rem 2rem 6rem 2rem;
  max-width: 900px;
}

.head-shot {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-image: url(./img/profilepicture.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  line-height: 1.5rem;
  max-width: 550px;
  margin: 1rem;
}

.about-content h4 {
  margin-left: 0;
}

.about-content p {
  margin-bottom: 1rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0 6rem 0;
}

.tools-wrapper {
  display: inline-flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.tools-wrapper div {
  height: 75px;
  max-width: 90px;
}

.tools-wrapper div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project {
  display: inline-flex;
  gap: 6%;
  margin: 12rem 2rem 6rem 2rem;
}

.project-header {
  margin: 1rem;
}

.project-header img {
  height: 600px;
  object-fit: contain;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  line-height: 1.5rem;
  max-width: 550px;
  margin: 1rem 2rem 0 0;
}

.project-content h4 {
  margin-left: 0;
}

.project-content h3 {
  margin-bottom: 2rem;
}

.project-content p {
  margin-bottom: 1rem;
}

.screens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 1rem 0 8rem 0;
}

.screens img {
  width: 200px;
  object-fit: contain;
}

@media (max-width: 1079px) {
  .blobs {
    display: none;
  }

  #landing svg {
    display: none;
  }

  #portfolio {
    width: 100%;
    padding: 2rem 0;
  }

  .items-container {
    display: initial;
  }

  .card-wrapper {
    margin: 0 2rem;
  }

  .card-wrapper div {
    margin: 0 0 1rem 0;
    width: 100%;
  }

  .about {
    flex-direction: column;
    margin: 6rem 2rem;
    align-items: center;
    text-align: left;
  }

  .about-content {
    align-items: center;
    text-align: left;
  }

  .about-content h4 {
    margin-left: 1rem;
  }

  .skills {
    margin: 1rem 2rem 6rem 2rem;
  }

  .project {
    flex-direction: column;
    margin: 6rem 2rem;
    align-items: center;
  }

  .project-header img {
    height: 400px;
    object-fit: contain;
  }

  .project-content {
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .screens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 1rem 0 8rem 0;
  }
}

@media (max-width: 950px) {
  #services {
    flex-direction: column;
    padding: 6rem 2rem;
  }

  .services-title {
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .contact-card {
    width: 90vw;
  }
}

@media (max-width: 500px) {
  #landing {
    justify-content: flex-start;
  }

  .screens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
